body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(100, 100, 100);
}
.header {
  background: brown;
  height: 75px;
  align-items: center;
  display: flex;
  align-items: center;
}
.logo {
  flex-basis: 350px;
  min-width: 240px;
  margin-left: 45px;
  margin-top: 10px;
  color: goldenrod;
}

.header-navigation {
  border: 1 px solid black;
  flex-basis: 70%;
  display: flex;
  justify-content: flex-end;
  background-color: indigo;
}

.header-navigation-link {
  margin-top: 5px;
  margin-bottom: 10;
  line-height: 50px;
  width: 120px;
  color: aliceblue;
  margin-right: 25px;
}
