/* Paul Irish reset */
html {
  font-size: 16px;
  box-sizing: border-box;
  font-family: "Roboto", Arial, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(100, 100, 100);
}
.header {
  background: brown;
  height: 75px;
  align-items: center;
  display: flex;
  align-items: center;
}
.logo {
  flex-basis: 350px;
  min-width: 240px;
  margin-left: 45px;
  margin-top: 10px;
  color: goldenrod;
}

.header-navigation {
  flex-basis: 70%;
  display: flex;
  justify-content: flex-end;
}

.header-navigation-link {
  margin-top: 5px;
  width: 130px;
  font-style: Bold;
  color: aliceblue;
}

.main-banner {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  background-image: url(../images/main-banner.png);
}

.main-banner h2 {
  font-family: "Dancing Script", cursive;
  font-size: 40px;
  width: 20%;
  margin-left: 300px;
  margin-top: 85px;
  color: aliceblue;
}

.main-banner-button {
  margin-top: 90px;
  margin-right: 95px;
  width: 105px;
  height: 50px;
  background: goldenrod;
  border-radius: 15px;
}

/*********************Local favourite section *********************/

.local-favourite-section {
  padding: 25px 0;
  height: 750px;
  color: goldenrod;
}

.local-favourite-title {
  color: goldenrod;
  margin-left: 3rem;
  margin-bottom: 1.5rem;
  font-size: 24px;
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.5);
}

.local-favourite-container {
  margin: 25px;
  margin-right: 25px;
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.local-favourite {
  margin-right: 100px;
  margin-bottom: 115px;
  width: 270px;
  height: 269px;
  text-align: center;
  justify-content: space-between;
}
.local-favourite-img {
  margin-top: 8px;
  margin-bottom: 0;
}
.local-favourite-text {
  margin-top: 250px;
}

/*********************About us section *********************/

.about-us-section {
  margin-top: 15px;
  width: 100%;
  padding: 45px;
  height: 390px;
  background: lavenderblush;
}

.about-us-title {
  color: goldenrod;
  margin-left: 1rem;
  margin-bottom: 1.5rem;
  font-size: 24px;
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.5);
}

.about-us-container {
  margin-left: 20px;
  width: 80%;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.about-us {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
}

.about-us-img {
  width: 80%;
  height: 120px;
  margin-bottom: 5px;
}
.about-us-heading {
  margin-bottom: 5px;
  margin-left: 45px;
}
.about-us-link {
  margin-top: 5px;
  color: red;
  margin-left: 125px;
}

.product-section {
  width: 100%;
  height: 450px;
  background: sandybrown;
}

.product-container {
  display: flex;
  flex-direction: row;
}

.product {
  margin-left: 30px;
}
.product-img {
  margin-top: 20px;
  width: 80%;
  height: 400px;
}
.product-heading {
  margin-left: 10px;
  margin-top: 180px;
}

.product-p {
  margin-top: 10px;
  margin-left: 20px;
}

.product-button {
  margin-top: 20px;
  margin-left: 120px;
  padding: 12px;
  font-size: 18px;
  border-radius: 15px;
  border: none;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  font-variant: small-caps;
  letter-spacing: 2px;
  background-color: darkgoldenrod;
}

.product-section1 {
  width: 100%;
  height: 450px;
  background: lavenderblush;
}

.product-container1 {
  display: flex;
  flex-direction: row-reverse;
}

.product1 {
  margin-left: 30px;
}
.product-img1 {
  margin-top: 20px;
  width: 80%;
  height: 400px;
}
.product-heading1 {
  margin-left: 10px;
  margin-top: 180px;
}

.product-p1 {
  margin-top: 10px;
  margin-left: 20px;
}

.product-button1 {
  margin-top: 20px;
  margin-left: 120px;
  padding: 12px;
  font-size: 18px;
  border-radius: 15px;
  border: none;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  font-variant: small-caps;
  letter-spacing: 2px;
  background-color: darkgoldenrod;
}

/* Footer */
.footer {
  background: brown;
  height: 125px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.footer-navigation {
  display: flex;
  justify-content: center;
}

.footer-nav-link,
.footer-nav-link:visited,
.footer-nav-link:active,
.footer-nav-link:focus {
  margin: 0 12px;
  color: #aaaaaa;
}
@media screen and (max-width: 480px) {
  header {
    width: 100%;
  }
  .logo {
    flex-basis: 150px;
    min-width: 20px;
    font-size: 20px;
    margin-left: 5px;
    margin-top: 0;
  }

  .header-navigation {
    width: 15%;
    display: flex;
    justify-content: space-between;
  }
}

.main-banner {
  width: 100%;
  height: 300px;
}

.main-banner h2 {
  font-size: 30px;
  width: 20%;
  margin-left: 65px;
  margin-top: 45px;
}

.main-banner-button {
  margin-top: 120px;
  margin-right: 65px;
  width: 85px;
  height: 40px;
  background: goldenrod;
  border-radius: 15px;
}

.local-favourite-section {
  padding-right: 25px;
  height: 550px;
  background: cornsilk;
}

.local-favourite-title {
  margin-bottom: 1.5rem;
  font-size: 20px;
}

.local-favourite-container {
  margin-left: 15px;
  height: 450px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.local-favourite {
  margin-left: 50px;
  margin-right: 5px;
  margin-bottom: 75px;
  width: 150px;
  height: 90px;
  display: flex;
  flex-direction: row wrap;
  justify-content: space-evenly;
  text-align: center;
}
.local-favourite-img {
  margin-top: 8px;
  margin-bottom: 0;
  width: 150px;
  height: 90px;
}
.local-favourite-text {
  margin-top: 105px;
  margin-left: -120px;
}

.about-us-section {
  margin-top: 15px;
  width: 100%;
  padding: 25px;
  height: 580px;
  background: lavenderblush;
}

.about-us-title {
  color: goldenrod;
  margin-left: -5px;
  margin-bottom: 1.5rem;
  font-size: 20px;
}

.about-us-container {
  background: rgb(245, 219, 200);
  margin-left: 0;
  width: 100%;
  height: 450px;
}
.about-us {
  height: 450px;
  margin-left: 10px;
}

.about-us-img {
  width: 60%;
  height: 80px;
  margin-bottom: 5px;
}
.about-us-heading {
  margin-bottom: 5px;
  margin-left: 20px;
  font-size: 20px;
}
.about-us-link {
  margin-top: 1px;
  color: red;
  margin-left: 15px;
  font-size: 15px;
}

.product-section {
  margin-top: 0;
  width: 100%;
  height: 450px;
  background: rgb(245, 219, 200);
}

.product-container {
  background: rgb(204, 241, 241);
}

.product {
  margin-left: 10px;
  height: 400px;
}
.product-img {
  margin-top: 2px;
  width: 100%;
  height: 400px;
}
.product-heading {
  margin-left: 14px;
  margin-top: 85px;
  font-size: 25px;
}

.product-p {
  margin-top: 7px;
  margin-left: 20px;
  margin-right: 5px;
}

.product-button {
  margin-top: 20px;
  margin-left: 30px;
  padding: 12px;
  font-size: 12px;
  border-radius: 15px;
  border: none;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  font-variant: small-caps;
  letter-spacing: 2px;
  background-color: darkgoldenrod;
}
.product-section1 {
  margin-top: 0;
  width: 100%;
  height: 450px;
  background: rgb(245, 219, 200);
}

.product-container1 {
  background: rgb(204, 241, 241);
}

.product1 {
  margin-left: 10px;
  height: 400px;
}
.product-img1 {
  margin-top: 2px;
  width: 100%;
  height: 400px;
}
.product-heading1 {
  margin-left: 14px;
  margin-top: 85px;
  font-size: 25px;
}

.product-p1 {
  margin-top: 7px;
  margin-left: 20px;
  margin-right: 5px;
}

.product-button1 {
  margin-top: 20px;
  margin-left: 30px;
  padding: 12px;
  font-size: 12px;
  border-radius: 15px;
}

}
