/* Paul Irish reset */

html {
  font-size: 16px;
  box-sizing: border-box;
  font-family: "Roboto", Arial, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
label {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  line-height: 24px;
  margin: 10px;
  text-align: left;
  color: aliceblue;
}

/* Components */
input,
textarea {
  width: 400px;
  font-size: 20px;
  line-height: 24px;
  padding: 8px;
  background: none;
  border: none;
  border: 2px solid silver;
  box-shadow: 1px 3px 8px silver;
  color: aliceblue;
  margin-top: 10px;
}

textarea {
  border: 2px solid silver;
}
.main-banner-button {
  padding: 5px;
  border: none;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  font-variant: small-caps;
  letter-spacing: 2px;
  background-color: darkgoldenrod;
  text-decoration: none;
}

.main-banner-button:hover {
  background-color: goldenrod;
  box-shadow: 4px 4px 4px rgba(192, 156, 63, 0.5);
}

.main-banner-button:active {
  background-color: gold;
  box-shadow: 4px 4px 4px rgba(241, 186, 47, 0.85);
}

/*Header section 

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 85px;
  background-color: rgb(51, 32, 32);
  border: 1px solid rgb(188, 188, 218, 0.1);
  border-radius: 7px;
}
.header-navigation {
  min-width: 200px;
  flex-basis: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.header-navigation-link {
  margin: 5px;
  width: 90px;
  font-style: Bold;
  color: aliceblue;
}

.header-navigation-link,
.header-navigation-link:visited,
.header-navigation-link:active,
.header-navigation-link:focus {
  font-size: 18px;
  color: aliceblue;
  text-decoration: none;
}
*/
.navbar {
  background-color: rgb(51, 32, 32);
  border: 1px solid rgb(188, 188, 218, 0.1);
}

/*Main Banner section*/

.main-banner {
  margin-top: 5px;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(../images/main-banner.png);
  border: 3px solid rgb(188, 188, 218, 0.1);
  border-radius: 5px;
}

.main-banner-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 20%;
  height: 250px;
  margin-top: 10px;
  margin-left: 10px;
  color: aliceblue;
}

.main-banner-h2 {
  font-size: 30px;
}

.main-banner-p {
  font-size: 20px;
  margin-left: 0px;
  margin-top: 25px;
  color: aliceblue;
}

.main-banner-button {
  margin-right: 10px;
  margin-top: 10px;
  padding: 12px;
  font-size: 15px;
  width: 130px;
  height: 50px;
  background: goldenrod;
  border-radius: 2px;
  text-decoration: none;
  border: none;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  letter-spacing: 1px;
  border: none;
}

.main-banner-button:hover {
  background-color: goldenrod;
  box-shadow: 4px 4px 4px rgba(192, 156, 63, 0.5);
}

.main-banner-button:active {
  background-color: gold;
  box-shadow: 4px 4px 4px rgba(241, 186, 47, 0.85);
}

/*Local favourite section */
.local-favourite-section {
  margin-top: 30px;
  margin-left: 1.5rem;
  margin-bottom: 10px;
}
.local-favourite {
  width: 25%;
  padding-top: 10px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  background: #eef3f8;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
}
.local-favourite-title {
  margin-left: 3rem;
  margin-bottom: 3rem;
}

.local-favourite-text {
  padding-top: 5px;
  text-decoration: none;
  color: black;
}
.local-price {
  text-decoration: none;
  color: black;
}
.local-button {
  padding: 5px;
  font-size: 10px;
  border: none;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  font-variant: small-caps;
  letter-spacing: 2px;
  background-color: darkgoldenrod;
  text-decoration: none;
  color: aliceblue;
}
.local-button:hover {
  background-color: goldenrod;
  box-shadow: 4px 4px 4px rgba(192, 156, 63, 0.5);
}

.local-button:active {
  background-color: gold;
  box-shadow: 4px 4px 4px rgba(241, 186, 47, 0.85);
}
/*About us section*/

.about-us {
  margin-top: 2rem;
  margin-left: 1.5rem;
  margin-bottom: 1rem;
  width: 100%;
}
.about-us-section {
  width: 40%;
  padding-top: 10px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  background: #eef3f8;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
}

.about-us-title {
  color: black;
  margin-left: 3rem;
  margin-bottom: 3rem;
  text-shadow: rgba(0, 0, 0, 0.5);
}
.about-us-img {
  width: 80%;
  margin-bottom: 5px;
}

.about-us-heading {
  margin-bottom: 5px;
}

.about-us-link {
  margin-top: 5px;
  color: rgb(165, 50, 50);
}
/*Product Section*/
#product {
  margin-left: 3rem;
  background: #eef3f8;
}
.product-title {
  margin-left: 3rem;
  margin-bottom: 3rem;
}
.product-section {
  margin-bottom: 5px;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-img {
  margin-top: 20px;
  width: 100%;
}

.product-heading {
  margin-left: 10px;
  margin-top: 180px;
}

.product-p {
  margin-top: 10px;
  margin-left: 20px;
}

.product-button {
  margin-top: 20px;
  margin-left: 120px;
  padding: 12px;
  font-size: 18px;
  border-radius: 5px;
  text-decoration: none;
  border: none;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  font-variant: small-caps;
  letter-spacing: 2px;
  background-color: goldenrod;
}
.product-button:hover {
  background-color: goldenrod;
  box-shadow: 4px 4px 4px rgba(192, 156, 63, 0.5);
}
.product-button:active {
  background-color: goldenrod;
  box-shadow: 4px 4px 4px rgba(241, 186, 47, 0.85);
}

/* Footer */

.footer {
  background: rgb(51, 32, 32);
  border: 3px solid rgb(188, 188, 218, 0.85);
  border-radius: 7px;
  height: 125px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.footer-navigation {
  color: whitesmoke;
  display: flex;
  justify-content: center;
}
.copy-right {
  color: aliceblue;
}

.footer-nav-link,
.footer-nav-link:visited,
.footer-nav-link:active,
.footer-nav-link:focus {
  margin: 0 12px;
  color: aliceblue;
  text-decoration: none;
  font-size: 18px;
}

/* Contact form */

.contact-body {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgb(19, 18, 18);
  color: silver;
}

.contact-main-area {
  text-align: center;
  margin-bottom: 40px;
}

.contact-main-area h2 {
  margin: 10px auto;
  color: aliceblue;
}

.contact-form {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.form-buttons {
  width: 400px;
  display: flex;
  justify-content: flex-start;
}

.form-buttons {
  margin-top: 15px;
}
@media screen and (max-width: 1109px) {
}
@media screen and (max-width: 792px) {
}

@media screen and (max-width: 912px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 512px) {
  .product-section {
    flex-direction: column;
  }
}
